@using EntityLayer.Concrete
@model List<ExperienceSection>

@{
    string direction = "timeline-item left wow slideInLeft";
    bool answer = true;
}

<div class="experience" id="experience">
    <div class="container">
        <header class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>Hayatımda</p
            <h2>Öğrenim Zamanları</h2>
        </header>
        <div class="timeline">
            @foreach (var item in Model)
            {
                <div class="@direction" data-wow-delay="0.1s">
                    <div class="timeline-text">
                        <div class="timeline-date">@item.ExperienceTime</div>
                        <h2>@item.ExperienceName</h2>
                        <h4>@item.ExperienceLocation</h4>
                        <h4>@item.ExperienceDescription</h4>
                        <p>
                        </p>
                    </div>
                </div>
                @if (answer)
                {
                    direction = "timeline-item right wow slideInRight";
                    answer = false;
                }
                else
                {
                    direction = "timeline-item left wow slideInLeft";
                    answer = true;
                }
            }
           
        </div>
    </div>
</div>